<form autocomplete='off'>
  <div class='attribute-selector'>
    <div class='attribute-selector-attr' data-type='armor'>
      <div class='attribute-selector-attr-label'>{{loc 'rolls' 'dialog' 'select_armor_roll_type' 'armor'}}</div>
      <div class='attribute-selector-attr-value'>{{rating}}</div>
    </div>
    <div class='attribute-selector-attr' data-type='blight_protection'>
      <div class='attribute-selector-attr-label'>{{loc
          'rolls'
          'dialog'
          'select_armor_roll_type'
          'blight_protection'
        }}</div>
      <div class='attribute-selector-attr-value'>{{blight_protection}}</div>
    </div>
  </div>
</form>